!!!
%html
  %head
    = metamagic title: 'Help to convert - HelpConvert', description: 'My default description.'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    #click-protector.click-protector{ style: 'display: none;'}
    .navbar.navbar-default
      .container-fluid
        #sidebar-main
          %span{onclick: 'openNav()', style: 'font-size:30px;cursor:pointer'} ☰
        .page-title
          = @page_title

    #sidenav.sidenav
      %a.closebtn{href: 'javascript:void(0)', onclick: 'closeNav()'} &times;
      %li{ class: active_class?(root_path) }= link_to 'Home', root_path, class: 'btn'
      %li{ class: active_class?(html_path) }= link_to 'Html to Haml', html_path, class: 'btn'
      %li{ class: active_class?(coffee_path) }= link_to 'JS to Coffee', coffee_path, class: 'btn'
      %li{ class: active_class?(yopta_path) }= link_to 'ЁптаScript to JS', yopta_path, class: 'btn'
      %li{ class: active_class?(sql_path) }= link_to 'Sql to Active Record', sql_path, class: 'btn'

    #main-content.main-content
      = yield

    .YM
      = render 'common/yandex_metrika'


