!!!
%html
  %head
    = metamagic title: 'Help to convert - HelpConvert', description: 'My default description.'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    #click-protector.click-protector{ style: 'display: none;'}
    .navbar.navbar-default
      .container-fluid
        #sidebar-main
          %span{onclick: 'openNav()', style: 'font-size:30px;cursor:pointer'} ☰
        .page-title
          = @page_title

    #sidenav.sidenav
      %a.closebtn{href: 'javascript:void(0)', onclick: 'closeNav()'} &times;
      %li{ class: active_class?(root_path) }= link_to 'Home', root_path, class: 'btn'
      %li{ class: active_class?(html2haml_path) }= link_to 'Html to Haml', html2haml_path, class: 'btn'
      %li{ class: active_class?(html2slim_path) }= link_to 'Html to Slim', html2slim_path, class: 'btn'
      %li{ class: active_class?(haml2slim_path) }= link_to 'Haml to Slim', haml2slim_path, class: 'btn'
      %li{ class: active_class?(js2coffee_path) }= link_to 'JS to Coffee', js2coffee_path, class: 'btn'
      %li{ class: active_class?(js2yopta_path) }= link_to 'ЙоптаScript to JS', js2yopta_path, class: 'btn'
      %li{ class: active_class?(sql2ar_path) }= link_to 'Sql to Active Record', sql2ar_path, class: 'btn'

    #main-content.main-content
      = yield

    .YM
      = render 'common/yandex_metrika'


